body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image:linear-gradient(to top right,rgb(7, 100, 98),rgb(131, 225, 225),rgb(17, 185, 185));
    color:rgb(3, 1, 16);
   
}
h1{
    color: black;
    text-shadow: 2px 2px 2px blue;
    text-decoration: underline;
}
a{
    color: red;
    
}
a:hover {
    color: chartreuse;
}
ul > li {
    font-weight:bold;
    text-shadow: 1px 1px 1px yellow;
}
h1 + p {
    background-color: rgb(125, 125, 253);
    padding: 10px;
    border-radius: 5px;
}
ul li:hover{
    color: chartreuse;
}
ul li:nth-child(3){
    background-color: rgb(226, 31, 106);
}
ul li:nth-child(2){
    background-color: rgb(69, 234, 28);
}
ul li:nth-child(1){
    background-color: rgb(255, 247, 0);
}
ul li:nth-child(4){
    background-color:rgb(55, 255, 0) ;
}
p:not(:first-of-type){
    text-decoration: underline;
}
ul li::before{
    content: "🚀";
}
a::after{
    content: 🌖;
}
p::first-letter{
    font-size: 200%;
    color: crimson;
    text-shadow: 1px 1px 1px rgb(10, 13, 111);

}
h2{
    color: rgb(110, 6, 14);
    text-shadow:1px 1px 1px rgb(102, 0, 255);
}
*{
    box-shadow: 2px 2px 2px rgb(255, 0, 204);
}